<h1>Tray Creator</h1>
<div class="list-group">
    <a class="list-group-item" href="/calibrate">Calibrate</a>
    <a class="list-group-item" href="/measure">Measure Base</a>
    <a class="list-group-item" href="/create">Create Tray</a>
</div>
