body {
    margin: 1%;
}

a.home {
    float: right;
}

.center {
    text-align: center;
}

.page {
    width: 7.5in;
    height: 10in;
    border: solid 1px #888888;
    overflow: hidden;
}

svg.rot90 {
    transform: translateY(-100%) rotate(90deg);
    transform-origin: left bottom;
}

@media print {
    form, .noprint {
        display: none;
    }
    .page {
        border-color: transparent;
    }
}

.tt-menu { background: white; border: solid 1px black; padding: 4px; width: 100%; }
